
      <% if (jobs && jobs.length > 0) { %>
        <% jobs.forEach((job) => { %>
          <div class="col-md-4">
            <div class="job-card">
              <p class="text-muted"><%= job.location %></p>
              <p class="job-title"><%= job.title %></p>
              <p><strong>Business Area :</strong> <%= job.area %></p>
              <p><strong>Description :</strong> <%= job.description %></p>
              <small class="text-muted"><%= job.posted.toUpperCase() %></small>
              <br />
              <a href="/" class="view-btn">Apply now</a>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p class="text-center">No job openings available at the moment.</p>
      <% } %>
    
