<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RAN Technology - Digital Marketing Agency</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include("partials/header") %>



        <div class="slider-area">
            <div class="slider-active owl-carousel nav-style-1 owl-dot-none">
                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-3.jpg);">
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-4.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-2.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-5.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-6.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <section class="rooms1 bg-cream pt-100" data-scroll-index="1">
            <div class="container">
                <div class="row text-center">
                    <div class="welcome-content text-center">
                        <h1 style="text-transform: uppercase;">Our Product Range</h1>
                    </div>
                </div>
                <div class="row">
                    <!-- Repeat this block for each category -->

                    <div class="col-md-4 col-lg-4 col-sm-6 mb-2">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <img src="/images/product-category/1-MM-Laminates.jpg" alt="1 MM + Laminates"
                                    class="img-fluid">
                            </div>
                            <span class="category">
                                <a href="/api/product/1mm">Detail</a>
                            </span>
                            <div class="con">
                                <h5>
                                    <a href="/api/product/1mm">1 MM + Laminates</a>
                                </h5>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-lg-4 col-sm-6 mb-2">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <img src="/images/product-category/0.8-MM-Laminates.jpg" alt="0.8MM Laminates"
                                    class="img-fluid">
                            </div>
                            <span class="category">
                                <a href="/api/product/0.8mm">Detail</a>
                            </span>
                            <div class="con">
                                <h5>
                                    <a href="/api/product/0.8mm"> 0.8MM Laminates</a>
                                </h5>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-lg-4 col-sm-6 mb-2">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <img src="/images/product-category/Acrylic-Laminate.jpg" alt="Acrylish Laminate"
                                    class="img-fluid">
                            </div>
                            <span class="category">
                                <a href="/api/product/Acrylish">Detail</a>
                            </span>
                            <div class="con">
                                <h5>
                                    <a href="/api/product/Acrylish"> Acrylish Laminate </a>
                                </h5>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-6 ">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <img src="/images/product-category/PVC-Range-Laminate.jpg" alt="PVC Laminate"
                                    class="img-fluid">
                            </div>
                            <span class="category">
                                <a href="/api/product/PVC">Detail</a>
                            </span>
                            <div class="con">
                                <h5>
                                    <a href="/api/product/PVC"> PVC Laminate </a>
                                </h5>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-6 ">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <img src="/images/product-category/Liner-Laminates.jpg" alt="Liner Laminate"
                                    class="img-fluid">
                            </div>
                            <span class="category">
                                <a href="/api/product/liner">Detail</a>
                            </span>
                            <div class="con">
                                <h5>
                                    <a href="/api/product/liner"> Liner Laminate </a>
                                </h5>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 col-sm-6 ">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <img src="/images/product-category/Sofitto-Panels.jpg" alt="Soffitto Laminate"
                                    class="img-fluid">
                            </div>
                            <span class="category">
                                <a href="/api/product/SOFFITTO">Detail</a>
                            </span>
                            <div class="con">
                                <h5>
                                    <a href="/api/product/SOFFITTO"> Soffitto Laminate </a>
                                </h5>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End category block -->
                </div>
            </div>
        </section>


        <div class="product-area pt-100 ">

            <div class="container">

                <div class="row text-center">
                    <div class="welcome-content text-center">
                        <h1 style="text-transform: uppercase;">SKYDECOR'S TRENDNG Laminates</h1>
                    </div>
                </div>

                <!-- Tabs -->
                <div class="product-tab-list nav pt-30 pb-55 text-center">
                    <a class="active" href="#product-5" data-bs-toggle="tab">
                        <h4>PVC Range Laminates</h4>
                    </a>
                    <a href="#product-1" data-bs-toggle="tab">
                        <h4>1 MM Laminates</h4>
                    </a>
                    <a href="#product-2" data-bs-toggle="tab">
                        <h4>0.8 MM Laminates</h4>
                    </a>
                    <a href="#product-4" data-bs-toggle="tab">
                        <h4>Acrylic Laminates</h4>
                    </a>
                    <!-- <a href="#product-3" class="mt-4" data-bs-toggle="tab">
                        <h4>Liner Laminates</h4>
                    </a> -->

                </div>

                <!-- Tab Content -->
                <div class="tab-content jump">

                    <!-- 1mm -->
                    <div class="tab-pane " id="product-1">
                        <div class="row item-wrapper1">
                            <% const oneMM=productsByCategory.find(c=> c.category === "1mm"); %>
                                <%- include('partials/related-product-card', { products: oneMM ? oneMM.products : [] })
                                    %>
                                    <div class="view-more text-center mt-20 col-12">
                                        <a class="loadMore1" href="/shop?category=1mm">VIEW MORE PRODUCTS</a>
                                    </div>
                        </div>
                    </div>

                    <!-- 0.8mm -->
                    <div class="tab-pane" id="product-2">
                        <div class="row item-wrapper2">
                            <% const zeroEightMM=productsByCategory.find(c=> c.category === "0.8mm"); %>
                                <%- include('partials/related-product-card', { products: zeroEightMM ?
                                    zeroEightMM.products : [] }) %>
                                    <div class="view-more text-center mt-20 col-12">
                                        <a class="loadMore2" href="/shop?category=0.8mm">VIEW MORE PRODUCTS</a>
                                    </div>
                        </div>
                    </div>

                    <!-- Liner -->
                    <div class="tab-pane" id="product-3">
                        <div class="row item-wrapper3">
                            <% const liner=productsByCategory.find(c=> c.category === "Liner"); %>
                                <%- include('partials/related-product-card', { products: liner ? liner.products : [] })
                                    %>
                                    <div class="view-more text-center mt-20 col-12">
                                        <a class="loadMore3" href="/shop?category=Liner">VIEW MORE PRODUCTS</a>
                                    </div>
                        </div>
                    </div>

                    <!-- Acrylic -->
                    <div class="tab-pane" id="product-4">
                        <div class="row item-wrapper4">
                            <% const acrylic=productsByCategory.find(c=> c.category === "Acrylish"); %>
                                <%- include('partials/related-product-card', { products: acrylic ? acrylic.products : []
                                    }) %>
                                    <div class="view-more text-center mt-20 col-12">
                                        <a class="loadMore4" href="/shop?category=Acrylish">VIEW MORE PRODUCTS</a>
                                    </div>
                        </div>
                    </div>

                    <!-- PVC -->
                    <div class="tab-pane active" id="product-5">
                        <div class="row item-wrapper5">
                            <% const pvc=productsByCategory.find(c=> c.category === "PVC"); %>
                                <%- include('partials/related-product-card', { products: pvc ? pvc.products : [] }) %>
                                    <div class="view-more text-center mt-20 col-12">
                                        <a class="loadMore5" href="/shop?category=PVC">VIEW MORE PRODUCTS</a>
                                    </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <section class="about pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4 animate-box" data-animate-effect="fadeInUp">
                        <div class="skydecor-section-title" style="margin-bottom: 24px;">
                            The TOTAL LIVING CONCEPT
                        </div>
                        <p class="about-skydecor-p">
                            Skydecor embarked on its journey in 2016 with a vision to push
                            beyond limits and redefine excellence. With a vast infrastructure
                            spanning over 5 million sheets annual production and
                            state-of-the-art machinery, we are committed to continuous growth
                            and innovation. Our manufacturing facilities in Greater Noida and
                            Hapur specialize in producing PVC Laminates, Acrylic Laminates,
                            Decorative Laminates and Soffitto Panels.
                            <br /><br />
                            Our operational headquarters is located in Noida, while our
                            Experience Centres in Kirti Nagar & Noida offers a firsthand
                            showcase of our premium products
                        </p>
                    </div>

                    <div class="col-md-5 offset-md-1 animate-box" data-animate-effect="fadeInUp">
                        <img src="/images/home/home-about.jpg" alt="Skydecor Logo" class="img-fluid" />
                    </div>
                </div>
            </div>
        </section>


        <div class="brand-logo-area pt-100 about-brand-logo">
            <div class="container">
                <div class="brand-logo-active owl-carousel owl-dot-none">
                    <div class="single-brand-logo">
                        <img src="/images/icon/brand-logo-1.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="/images/icon/brand-logo-2.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="/images/icon/brand-logo-3.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="/images/icon/brand-logo-4.png" alt="">
                    </div>
                    <div class="single-brand-logo">
                        <img src="/images/icon/brand-logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>



        <section class="cta-bg-img" style=" background-image: url(/images/parallax/bg6.jpg);">
            <div class="container text-center">
                <div class="inner-box">
                    <h2>
                        <img src="/images/parallax/textpart1.png" alt="Text Banner" />
                    </h2>
                    <a href="./home" class="readmore">
                        <i class="fa fa-solid fa-arrow-right fa-xl" style="color: #fff;"></i>
                    </a>
                </div>
            </div>
        </section>


        <section class="cta-bg-img" style=" background-image: url(/images/parallax/bg5.jpg);">
            <div class="container text-center">
                <div class="inner-box">
                    <h2>
                        <img src="/images/parallax/textpart2.png" class="text-part-size" alt="Text Banner" />
                    </h2>
                    <a href="./home" class="readmore">
                        <i class="fa fa-solid fa-arrow-right fa-xl" style="color: #fff;"></i>
                    </a>
                </div>
            </div>
        </section>



        <section style="padding-bottom: 70px; margin-top: 70px;">
            <div class="container">
                <div class="welcome-content text-center">
                    <h1 style="text-transform: uppercase;">It's time to #StayCurious</h1>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-10">
                        <div class="vid-area mb-30">
                            <video controls autoplay loop muted>
                                <source
                                    src="https://res.cloudinary.com/dtlazsqas/video/upload/v1748254339/videoplayback_zc120w.mp4"
                                    type="video/mp4">
                                <source src="https://waltz.co.in/introvideo.webm" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="about bg-dark-gery" style="padding-bottom: 70px; padding-top: 70px;">
            <div class="container">
                <div class="row">

                    <!-- Left Image -->
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
                        <img src="/images/visual/visual.jpeg" alt="Skydecor Logo" class="img-fluid">
                    </div>

                    <!-- Right Content -->
                    <div class="col-md-6 mt-4 animate-box d-flex justify-content-center align-items-start"
                        style="flex-direction: column;" data-animate-effect="fadeInUp">

                        <div class="skydecor-section-title text-white" style="margin-bottom: 24px;">
                            DISCOVER VISUALIZER
                        </div>

                        <p class="about-skydecor-p mb-4 text-white text-start">
                            The art of design lies in bringing your vision to life. Experiment
                            with SkyDecor’s range of stunning laminate and décor finishes, and
                            choose the one that truly reflects your style. Our Visualizer is
                            here to help you explore endless possibilities and make your
                            perfect choice with confidence.
                            Our Visualizer is here to help you explore endless possibilities with confidence.
                        </p>

                        <a href="/" class="btn btn-outline-light fw-light"
                            style="padding: 10px 30px; margin-left: 25px;">
                            Know More
                        </a>

                    </div>
                </div>
            </div>
        </section>



        <div class="testimonial-area bg-img pt-100 pb-95" style="background-image:url(assets/img/bg/section-bg-3.png);">
            <div class="container">
                <div class="welcome-content text-center">
                    <h5>Testimonials</h5>
                    <h1>SkyDecor Success Stories</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 ms-auto me-auto">
                        <div class="testimonial-active owl-carousel nav-style-1 nav-testi-style owl-dot-none">
                            <% testimonials.forEach(testimonial=> { %>
                                <div class="single-testimonial text-center">
                                    <img src="<%= testimonial.image %>" alt="<%= testimonial.customerName %>">
                                    <p>
                                        <%= testimonial.content %>
                                    </p>
                                    <div class="client-info">
                                        <i class="fa fa-map-signs"></i>
                                        <h5>
                                            <%= testimonial.customerName %>
                                        </h5>
                                        <span>
                                            <%= testimonial.title %>
                                        </span>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="rooms1 bg-dark-gery" data-scroll-index="1" style="padding: 70px 0px;">
            <div class="container">

                <!-- Section Heading -->
                <div class="row text-center">
                    <div class="welcome-content text-center">
                        <h1 class="text-white fw-light" style="text-transform: uppercase;">
                            CUSTOMER REVIEWS
                        </h1>
                    </div>
                </div>

                <!-- Reviews Grid -->
                <div class="row mt-4">

                    <!-- Repeat this block for each video -->
                    <div class="col-md-3 col-lg-3  mb-4 scroll-zoom">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <video muted autoplay controls loop controlsList="nodownload" style="width: 100%;">
                                    <source src="https://rantechnology.in/skydecor/video/1.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- End video block -->


                    <!-- Repeat this block for each video -->
                    <div class="col-md-3 col-lg-3  mb-4 scroll-zoom">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <video muted autoplay controls loop controlsList="nodownload" style="width: 100%;">
                                    <source src="https://rantechnology.in/skydecor/video/2.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- End video block -->


                    <!-- Repeat this block for each video -->
                    <div class="col-md-3 col-lg-3  mb-4 scroll-zoom">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <video muted autoplay controls loop controlsList="nodownload" style="width: 100%;">
                                    <source src="https://rantechnology.in/skydecor/video/3.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- End video block -->

                    <!-- Repeat this block for each video -->
                    <div class="col-md-3 col-lg-3  mb-4 scroll-zoom ">
                        <div class="item">
                            <div class="position-re o-hidden">
                                <video muted autoplay controls loop controlsList="nodownload" style="width: 100%;">
                                    <source src="https://rantechnology.in/skydecor/video/4.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- End video block -->

                </div>

                <!-- Show All Reviews Button -->
                <div class="row mt-4">
                    <div class="col text-center">
                        <a href="/customer-review" class="btn btn-outline-light fw-light"
                            style="padding: 10px 30px;">
                            Show All Reviews
                        </a>
                    </div>
                </div>

            </div>
        </section>

        <div class="Blog-area pt-100 pb-100 blog-no-sidebar">
            <div class="container">
                <div class="welcome-content text-center">
                    <h5>Blog</h5>
                    <h1>SkyDecor Success Stories</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <%- include('partials/blog-card', { blogs: blogs }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <%- include("partials/footer") %>



            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header">
                            <h2 class="modal-title d-none mb-0" id="modalProduct">
                                Product Name Here
                            </h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="row">
                                <!-- Left: Image -->
                                <div class="col-md-5 col-sm-12">
                                    <div class="tab-content quickview-big-img">
                                        <div class="tab-pane fade show active">
                                            <img id="modalProductImage" src="/img/product/quickview-l1.jpg"
                                                alt="Product Image" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Right: Product Details -->
                                <div class="col-md-7 col-sm-12">
                                    <div class="product-details-content quickview-content">
                                        <h2 class="mb-4" id="modalProductTitle"></h2>

                                        <!-- Rating Example -->
                                        <div class="pro-details-rating-wrap mt-2 mb-3">
                                            <div class="pro-details-rating">
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o yellow"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <span>3 Reviews</span>
                                        </div>

                                        <!-- Category -->
                                        <div class="pro-details-meta">
                                            <span>Category :</span>
                                            <ul>
                                                <li><span id="modalCategory">-</span></li>
                                            </ul>
                                        </div>

                                        <!-- Sub Category -->
                                        <div class="pro-details-meta">
                                            <span>Sub Category :</span>
                                            <ul>
                                                <li><span id="modalSubCategory">-</span></li>
                                            </ul>
                                        </div>

                                        <!-- Texture -->
                                        <div class="pro-details-meta">
                                            <span>Texture :</span>
                                            <ul>
                                                <li><span id="modalTexture">-</span></li>
                                            </ul>
                                        </div>

                                        <!-- Size -->
                                        <div class="pro-details-meta">
                                            <span>Size :</span>
                                            <ul>
                                                <li><span id="modalSize">-</span></li>
                                            </ul>
                                        </div>

                                        <!-- Thickness -->
                                        <div class="pro-details-meta">
                                            <span>Thickness :</span>
                                            <ul>
                                                <li><span id="modalThickness">-</span></li>
                                            </ul>
                                        </div>

                                        <!-- Width -->
                                        <div class="pro-details-meta">
                                            <span>Width :</span>
                                            <ul>
                                                <li><span id="modalWidth">-</span></li>
                                            </ul>
                                        </div>

                                        <!-- Social Icons -->
                                        <div class="pro-details-social mt-3">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-whatsapp"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Add to Cart -->
                                        <div class="pro-details-quality mt-4">
                                            <div class="pro-details-cart btn-hover">
                                                <a href="#"> Download </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal end -->


            <!-- All JS is here  ============================================ -->

            <script src="/js/vendor/modernizr-3.11.7.min.js"></script>
            <script src="/js/vendor/jquery-v3.6.0.min.js"></script>
            <script src="/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
            <script src="/js/vendor/popper.min.js"></script>
            <script src="/js/vendor/bootstrap.min.js"></script>
            <script src="/js/plugins.js"></script>
            <script src="/js/ajax-mail.js"></script>
            <script src="/js/main.js"></script>



            <script>

                document.addEventListener("DOMContentLoaded", function () {
                    const exampleModal = document.getElementById("exampleModal");
                    exampleModal.addEventListener("show.bs.modal", function (event) {
                        const button = event.relatedTarget;

                        // Extract product info from data-* attributes
                        const name = button.getAttribute("data-name");
                        const image = button.getAttribute("data-image");
                        const category = button.getAttribute("data-category");
                        const subCategory = button.getAttribute("data-subcategory");
                        const texture = button.getAttribute("data-texture");
                        const size = button.getAttribute("data-size");
                        const thickness = button.getAttribute("data-thickness");
                        const width = button.getAttribute("data-width");

                        // Update modal content
                        document.getElementById(
                            "modalProductTitle"
                        ).innerHTML = `<h2>${name} ${category} ${texture} </h2>`;
                        document.getElementById("modalProductImage").src = image;
                        document.getElementById("modalCategory").textContent = category;
                        document.getElementById("modalSubCategory").textContent = subCategory;
                        document.getElementById("modalTexture").textContent = texture;
                        document.getElementById("modalSize").textContent = size;
                        document.getElementById("modalThickness").textContent = thickness;
                        document.getElementById("modalWidth").textContent = width;
                    });
                });


            </script>

</body>

</html>