<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- CSS ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins.css">


    <!-- Magnific Popup CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />


    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/css/style.css">


    <style>
        .blog-content-2 {
            height: 220px;
        }

        .blog-wrap-2 .blog-img-2 a img {
            height: 250px;
        }
    </style>


</head>

<body>

    <%- include("partials/header") %>


        <div class="welcome-area pt-60">
            <div class="container">
                <div class="welcome-content text-center">
                    <h5>Skydecor event</h5>
                    <h1>
                        <%= event.title %>
                    </h1>
                </div>
            </div>
        </div>






        <section class="section-padding ">
            <div class="container">
                <div class="row gallery">
                    <div class="row gallery" id="event-gallery-<%= event.id %>">
                        <div class="col-md-12 col-lg-12 col-sm-6 gallery-item">
                            <a href="<%= event.images[0] %>" class="img-zoom" title="<%= event.title %>">
                                <div class="gallery-box">
                                    <div class="gallery-img">
                                        <img src="<%= event.images[0] %>" class="img-fluid mx-auto d-block"
                                            alt="<%= event.title %>">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>





                </div>
            </div>
        </section>





        <section class="section-padding pb-60">
            <div class="container">
                <div class="row gallery">
                    <div class="row gallery" id="event-gallery-<%= event.id %>">
                        <% event.images.forEach(function(img, index) { %>
                            <div class="col-md-4 col-lg-4 col-sm-6 gallery-item">
                                <a href="<%= img %>" class="img-zoom" title="<%= event.title %> - Image <%= index+1 %>">
                                    <div class="gallery-box">
                                        <div class="gallery-img">
                                            <img src="<%= img %>" class="img-fluid image-box-event mx-auto d-block"
                                                alt="<%= event.title %> <%= index+1 %>">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </section>



        <%- include("partials/footer") %>


            <!-- jQuery (required for Magnific Popup) -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

            <!-- Magnific Popup JS -->
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

            <script src="/js/vendor/modernizr-3.11.7.min.js"></script>
            <script src="/js/vendor/jquery-v3.6.0.min.js"></script>
            <script src="/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
            <script src="/js/vendor/popper.min.js"></script>
            <script src="/js/vendor/bootstrap.min.js"></script>
            <script src="/js/plugins.js"></script>
            <!-- Ajax Mail -->
            <script src="/js/ajax-mail.js"></script>
            <!-- Main JS -->
            <script src="/js/main.js"></script>

            <script>
                $(document).ready(function () {
                    $('.gallery').magnificPopup({
                        delegate: 'a.img-zoom',
                        type: 'image',
                        gallery: {
                            enabled: true,   // enables gallery mode
                            navigateByImgClick: true,
                            preload: [0, 1]   // preload previous & next images for smoother navigation
                        },
                        mainClass: 'mfp-fade', // animation effect
                        removalDelay: 300,     // duration of fade effect
                        fixedContentPos: false
                    });
                });
            </script>



</body>
</html>